<p id="notice"><%= notice %></p>

<h1>Ice Cream Orders</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Count</th>
      <th>Flavor</th>
      <th>Size</th>
      <th>New account</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @icecreams.each do |icecream| %>
      <tr>
        <td><%= icecream.name %></td>
        <td><%= icecream.count %></td>
        <td><%= icecream.flavor %></td>
        <td><%= icecream.size %></td>
        <td><%= icecream.new_account %></td>
        <td><%= link_to 'Show', icecream, class: "button" %></td>
        <td><%= link_to 'Edit', edit_icecream_path(icecream), class: "button" %></td>
        <td><%= link_to 'Delete', icecream, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Icecream', new_icecream_path %>
